<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Update my Info
  </h2>
  <form class="edit-user-form">
    <div>
      <label for="user-name">User Name</label>
      <input name="user-name" type="text" value="{{user.username}}" />
    </div>
    <div>
      <label for="email">User Email</label>
      <input name="email" value="{{user.email}}" />
    </div>
    <div>
      <label for="password">Password</label>
      <input name="password" type="password" />
    </div>
    <div>
      <input type="hidden" id="uder-id" name="user-id" value="{{user.id}}" />
    </div>
    <button type="submit">Update Info</button>
  </form>
</article>

<script src="/js/edit-users.js"></script>